@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

.container {
  text-align: center;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 2rem;
  color: #61dafb;
  background-color: #444;
  padding: 1rem;
}

button {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 2rem;
  margin: 0 0.3rem;
  cursor: pointer;
}
